html {
	overflow-y: scroll;
}
body {
	background-image: url(bilder/kirke);
	background-repeat: repeat;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 970px;
    height: auto;
	min-height: 1000px;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
	background-color: #f1f2e7;
}

.topnav {
  padding-left: 200px;
  margin: 0;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
}

.topnav a.active {
  background-color: #3f2b68;
  color: white;
}

header {
    flex-basis: 100%;
}

main {
	padding-top: 25px;
	text-align: center;
}

#highlighted {
	float: center;
}

.bilder {
	float: left;
	width: 250px;
	padding-top: 20px;
	padding-right: 4px;
	padding-left: 57px;
	text-align: center;
}

.video {
	float: center;
}